:root {
	--left-side-width: 220px;
	--max-page-width: 1100px;
}
* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 17px;
	color: #e0e0e0;
}
body {
	background-color: #151515;
	font-family: Verdana, Tahoma, sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}
#links-tree {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	font-size: 0.875em;
	width: 45em;
	text-align: center;
	/* background-color: #ff0000; */
	padding: 2em 0em;
	padding-bottom: 4em;
	box-sizing: border-box;
}
#links-tree > .img-container {
	margin-bottom: 1.5em;
}
.link-container {
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1em;
	border-radius: 10px;
	border: 2px solid #e0e0e060;
	padding: 0.5em 0.75em;
	box-sizing: border-box;
	text-decoration: none;
	color: #e0e0e0;
	height: 4.5em;
	position: relative;
}
.link-container:hover {
	opacity: 0.8;
	outline: 4px solid #e0e0e030;
	transform: scale(1.025);
}
.link-container:active {
	opacity: 1;
	outline: 4px solid #e0e0e0;
}
.link-container.thumbnail-link {
	height: fit-content;
	padding: 0;
	overflow: hidden;
}
.link-container .link-name {
	font-size: 1.1em;
}
.link-container.thumbnail-link > .link-name {
	position: absolute;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	bottom: 0;
	width: 100%;
	height: 10em;
	padding-bottom: 0.751em;
	font-size: 1.3em;
	background: linear-gradient(transparent, #151515);
}
.link-container:not(.thumbnail-link) > img {
	height: 2.75em;
	width: 2.75em;
	aspect-ratio: 1 / 1;
	width: auto;
	margin: 0;
	margin-right: 0.5em;
	border-radius: 1000vh;
}
.link-container.thumbnail-link > img {
	width: 100%;
	height: auto;
}
.right-arrow {
	/* Style the div like a right arrow */
	border-top: 0.75em solid transparent;
	border-bottom: 0.75em solid transparent;
	border-left: 0.75em solid #e0e0e0;
	margin-left: 0.75em;
	margin-right: 0.675em;
	margin-left: 2em;
}
.link-container.thumbnail-link > .right-arrow {
	display: none;
}
#page-content {
	/* background-color: #00ff0040; */
	width: calc(100% - 15px * 2);
	max-width: var(--max-page-width);
	margin: 30px 15px 0px 15px;
	display: inline-flex;
	flex-direction: row;
	padding-bottom: 30px;
	/* top: 0px; */
	position: relative;
}
#left-side {
	/* background-color: #0000ff60; */
	width: calc(var(--left-side-width) - 30px);
	margin-right: 30px;
	font-size: 0.9em;
	text-align: left;
	padding: 0px 20px;
	line-height: 1.8em;
	position: fixed;
	top: 30px;
}
#left-side > div:not(.img-container)::before {
	content: "#\00a0";
	color: #666;
	display: inline-block;
	font-weight: bold;
}
#right-side {
	/* background-color: #ff000060; */
	width: calc(100% - var(--left-side-width));
	padding-left: var(--left-side-width);
}
.img-container {
	width: 100%;
	margin: auto;
}
.right-side-main-image {
	/* margin-top: 10px; */
	margin-bottom: 25px;
}
.img-container > img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 5px;
}
.right-side-section {
	text-align: left;
	padding-top: 20px;
	margin-bottom: 20px;
}
.right-side-section .section-title {
	font-size: 1.35em;
	font-weight: bold;
	margin-bottom: 10px;
	cursor: pointer;
}
.right-side-section .section-title::after {
	content: "#\00a0";
	color: #666;
	display: inline-block;
	font-size: 0.85em;
	font-weight: bold;
	cursor: pointer;
}
.right-side-section .section-title:hover::after {
	color: #aaa;
}
.right-side-section .section-content {
	font-size: 0.925em;
	line-height: 1.55em;
}
a {
	color: #e0e0e0;
	font-weight: bold;
}
a:hover {
	color: #aaa;
}
.games-section {
	width: 100%;
	display: inline-flex;
	flex-direction: column-reverse;
	align-items: baseline;
	text-align: left;
	counter-set: my-games-counter 0;
	counter-reset: my-games-counter;
}
.game-infos-container {
	border-radius: 10px;
	border: 2px solid #e0e0e0;
	/* border-bottom: 0px; */
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin: auto;
	/* width: fit-content; */
	display: inline-block;
	align-items: center;
	width: 100%;
	height: fit-content;
	box-sizing: border-box;
}
.game-infos-container img {
	width: calc(100% - 5px * 2);
	margin: auto;
	box-sizing: border-box;
	margin: 5px;
	/* margin-bottom: 10px; */
	border-radius: 5px;
}
.game-infos-container > div {
	width: 100%;
	margin: 0;
	padding: 6px 5px;
	font-weight: bold;
	border-top: 2px solid #e0e0e0;
	box-sizing: border-box;
}
/* .itch-iframe-container {
	border-radius: 10px;
	border: 2px solid #e0e0e0;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin: auto;
	width: fit-content;
	padding: 5px;
	display: inline-block;
	align-items: center;
}
.itch-iframe-container > iframe {
	background-color: transparent;
	margin: auto;
	width: calc(100vw - 5px * 2 - var(--left-side-width) - 30px * 2);
	max-width: calc(var(--max-page-width) - var(--left-side-width) - 30px * 2);
	height: 165px;
} */
#games .section-content {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.game-container {
	width: 49%;
	height: fit-content;
	/* padding: 5px; */
	box-sizing: border-box;
	counter-increment: my-games-counter;
}
.game-container:not(:last-child) {
	margin-bottom: 20px;
}
.game-infos-footer {
	border-radius: 10px;
	border: 2px solid #e0e0e0;
	border-top: 0px;
	/* margin: auto; */
	/* width: calc(100vw - 5px * 2 - var(--left-side-width) - 30px * 2);
	max-width: calc(var(--max-page-width) - var(--left-side-width) - 30px * 2); */
	padding: 5px 5px;
	width: 100%;
	box-sizing: border-box;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	/* background-color: #aaa; */
	text-align: center;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
}
.game-infos-footer:has(.game-infos-link:hover) {
	background-color: #e0e0e0;
	color: #151515;
}
.my-games-title {
	font-weight: bold;
	margin-bottom: 15px;
	display: inline-block;
}
.my-games-title::after {
	content: " (" counter(my-games-counter) ")";
}
.game-infos-link {
	padding: 10px 15px;
	border-radius: 5px;
}
.game-infos-link:hover {
	color: #151515;
}
.left-side-logo {
	width: 100%;
	max-width: 135px;
	overflow: hidden;
	margin: auto;
	margin-bottom: 20px;
}
.items-list > div {
	margin-bottom: 5px;
}
.items-list:not(.no-bullets) > div::before {
	content: "•\00a0";
	color: #666;
	/* display: inline-block; */
	font-weight: bold;
	font-size: 0.85rem;
}
.section-content .embedded-iframe-wrapper {
	width: 100%;
	height: 0px;
	padding-bottom: 56.25%;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 50px;
}
.section-content .embedded-iframe-wrapper > iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* margin: auto; */
}
.section-content.images-section {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 30px;
}
.section-content.images-section > .images-section-row {
	width: 100%;
	/* max-width: 300px; */
	/* margin: 10px; */
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
}
.section-content.images-section > .images-section-row:not(:last-child) {
	margin-bottom: 10px;
}
.section-content.images-section > .images-section-row > img {
	width: calc(50% - 5px);
	/* margin: 5px; */
	height: 100%;
	border-radius: 5px;
}
.section-content.images-section > .images-section-row.single-image > img {
	width: 100%;
}
.section-content.images-section > .images-section-row > img.image-section-half-size {
	width: calc(25% - 5px);
	margin: auto;
}
.png-images-background {
	background-image:
		linear-gradient(45deg, #303030 25%, transparent 25%),
		linear-gradient(-45deg, #303030 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, #303030 75%),
		linear-gradient(-45deg, transparent 75%, #303030 75%);
	background-size: 10px 10px;
	background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
	padding: 12px 20px;
}
.hidden {
	display: none;
}
@media screen and (max-width: 1100px) {
	#links-tree {
		font-size: calc(0.875 * 100vw / 28);
		width: 28em;
	}
	.link-container {
		border-radius: 20px;
	}
	.link-container .link-name {
		font-size: 1.25em;
	}
}